@import '../../commun/style.scss';

.paragrafo{
    display: flex;
    flex-direction: column;
    width:40%;
    align-items: flex-start;
    
    h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $cortitulo;
    font-family: $paragrafo;
    padding-top: 20vh;
    margin-bottom: 3vh;
    
    }
    h2::after{
        content: "Filipe Vieira";
        color: $cordestaque;
        cursor: text;
    }
    p{
        margin: 10px 0;
        letter-spacing: 1px;
        color: $corparagrafos;
        line-height: 1.5em;
        font-family: $paragrafo;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width:1200px){
    .paragrafo{
        width: 60%;
    }
}