@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@200;300;400;500;600;700&display=swap');

$corfundo: #fff; /*branco-roxo: #f6f7fb  branco-azul: #dfe4ec;*/
$corheader: rgba(51, 51, 255, 0.192);
$cordestaque: #4672fe; /* Azul: #4672fe  Verde: #08d665 Roxo: #784cfb*/
$cortitulo:#eeeeee;
$corparagrafos:#eeeeee;

$titulo:'Bakbak One', cursive;
$paragrafo:'Poppins', sans-serif;
